Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packages/Build 0.2/Coliseum Build 0.2.rar
Packages/Build 0.2/WindowsNoEditor/Coliseum.exe
Packages/Build 0.2/WindowsNoEditor/Coliseum/Content/Paks/Coliseum-WindowsNoEditor.pak
Packages/Build 0.2/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packages/Build 0.2/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
