Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packages/PackageTest/WindowsNoEditor/Coliseum.exe
Packages/PackageTest/WindowsNoEditor/Coliseum/Content/Paks/Coliseum-WindowsNoEditor.pak
Packages/PackageTest/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packages/PackageTest/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Packages/PackageTest/Coliseum Build 0.1.rar
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Packages/Build 0.2/Coliseum Build 0.2.rar
Packages/Build 0.2/WindowsNoEditor/Coliseum.exe
Packages/Build 0.2/WindowsNoEditor/Coliseum/Content/Paks/Coliseum-WindowsNoEditor.pak
Packages/Build 0.2/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packages/Build 0.2/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Packages/Build 0.3/WindowsNoEditor/Coliseum.exe
Packages/Build 0.3/WindowsNoEditor/Coliseum/Content/Paks/Coliseum-WindowsNoEditor.pak
Packages/Build 0.3/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packages/Build 0.3/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Packages/Coliseum Build 0.3.rar
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Packages/Build 0.3.1/WindowsNoEditor/Coliseum.exe
Packages/Build 0.3.1/WindowsNoEditor/Coliseum/Content/Paks/Coliseum-WindowsNoEditor.pak
Packages/Build 0.3.1/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packages/Build 0.3.1/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Packages/Build 0.3.1.rar
